In [1]:
pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)
Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 28.1 MB/s eta 0:00:00
Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.29.2 geomet-0.2.1.post1

In [3]:
!python -c 'import cassandra; print (cassandra.__version__)'

3.29.2

In [72]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

SECURE_CONNECT_BUNDLE = "/content/sample_data/secure-connect-datatool.zip"

# Connect to Cassandra DB
auth_provider = PlainTextAuthProvider(
    "cHMRKiGoXLasQfRoihhWYrpa",
    "wEKI5SWC+hynotUOoFp4aK872SDtEA+mXGq6SdZ46ss3sWEnrU0f+GxJpsZTY8NDPAihIWXx.w3UG+K9YNYfSajogARadEfa8rA+SkSDASIwfACcn3zNsLMh8nNDTsg9"
)
cluster = Cluster(cloud={'secure_connect_bundle': SECURE_CONNECT_BUNDLE}, auth_provider=auth_provider)
session = cluster.connect()

#
session.set_keyspace('data')

 the Bronze table
session.execute("""
CREATE TABLE IF NOT EXISTS bronze_sales (
    id UUID PRIMARY KEY,
    data TEXT
);
""")

print("Bronze table created successfully!")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for ed2ae102-a8ad-483a-b5ec-1dea55c81edd-us-east-2.db.astra.datastax.com:29042:98a2cd7e-fa1b-3950-942e-42af495c4248. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for ed2ae102-a8ad-483a-b5ec-1dea55c81edd-us-east-2.db.astra.datastax.com:29042:98a2cd7e-fa1b-3950-942e-42af495c4248. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for ed2ae102-a8ad-483a-b5ec-1dea55c81edd-us-east-2.db.astra.datastax.com:29042:98a2cd7e-fa1b-3950-942e-42af495c4248. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Bronze table created successfully!

In [118]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json


table_name = "bronze_sales"

columns = ["id", "data"]

select_query = f"SELECT {', '.join(columns)} FROM {table_name}"

# printing the first 5 records
rows = session.execute(select_query)
for i, row in enumerate(rows):
    if i < 5:
        print(row)
    else:
        pass

Row(id=UUID('cd8045ed-8e61-42b0-ba0e-ba9874efd21a'), data='{"product_name": "Phone", "price": 800, "quantity": 5}')
Row(id=UUID('c4856c78-b4fa-4304-9921-42d37f8dbf35'), data='{"product_name": "Monitor", "price": 300, "quantity": 4}')
Row(id=UUID('082facaa-a08d-4242-9ca6-7b1da2da6fb6'), data='{"product_name": "Phone", "price": 800, "quantity": 5}')
Row(id=UUID('0e6d07b3-91fd-4dae-b1b7-19b0476645d2'), data='{"product_name": "Tablet", "price": 600, "quantity": 10}')
Row(id=UUID('5773dcbb-451d-4f03-9b44-291989447fd5'), data='{"product_name": "Phone", "price": 800, "quantity": 5}')

In [96]:
import json
import uuid

# Query the Bronze table
bronze_rows = session.execute("SELECT * FROM bronze_sales;")

# Create the Silver table
session.execute("""
CREATE TABLE IF NOT EXISTS silver_sales (
    id UUID PRIMARY KEY,
    product_name TEXT,
    region TEXT,
    sales_amount DOUBLE,
    date DATE
);
""")
print("Silver table created successfully!")

# Process and clean data from Bronze table, then insert into Silver table
for row in bronze_rows:
    raw_data = json.loads(row.data)
    product_name = raw_data.get('product_name')
    region = raw_data.get('region', 'Unknown')
    sales_amount = raw_data.get('price', 0.0)
    sale_date = raw_data.get('date')

    # Inserting the cleaned data into the Silver table
    session.execute("""
    INSERT INTO silver_sales (id, product_name, region, sales_amount, date)
    VALUES (%s, %s, %s, %s, %s)
    """, (uuid.uuid4(), product_name, region, sales_amount, sale_date))

print("Data cleaned and inserted into Silver table successfully!")

Silver table created successfully!
Data cleaned and inserted into Silver table successfully!

In [101]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import pandas as pd

SECURE_CONNECT_BUNDLE = "/content/sample_data/secure-connect-datatool.zip"
auth_provider = PlainTextAuthProvider(
    "cHMRKiGoXLasQfRoihhWYrpa",
    "wEKI5SWC+hynotUOoFp4aK872SDtEA+mXGq6SdZ46ss3sWEnrU0f+GxJpsZTY8NDPAihIWXx.w3UG+K9YNYfSajogARadEfa8rA+SkSDASIwfACcn3zNsLMh8nNDTsg9"
)
cluster = Cluster(cloud={'secure_connect_bundle': SECURE_CONNECT_BUNDLE}, auth_provider=auth_provider)
session = cluster.connect()
session.set_keyspace('data')
rows = session.execute("SELECT * FROM silver_sales;")
data = [dict(row._asdict()) for row in rows]
#printing output table
if data:
    df = pd.DataFrame(data)
    print("Silver Sales Table:")
    print(df)
else:
    print("The Silver Sales table is empty.")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for ed2ae102-a8ad-483a-b5ec-1dea55c81edd-us-east-2.db.astra.datastax.com:29042:00958fd0-af98-391f-9f51-7e3fe763da5c. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for ed2ae102-a8ad-483a-b5ec-1dea55c81edd-us-east-2.db.astra.datastax.com:29042:00958fd0-af98-391f-9f51-7e3fe763da5c. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for ed2ae102-a8ad-483a-b5ec-1dea55c81edd-us-east-2.db.astra.datastax.com:29042:00958fd0-af98-391f-9f51-7e3fe763da5c. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Silver Sales Table:
                                      id  date product_name   region  \
0   4d8b9890-406e-493a-98cf-63cf73230f15  None     Keyboard  Unknown
1   54a75e61-ea9e-4e5c-b96b-06646bce5c72  None      Monitor  Unknown
2   dc9e1231-0da2-48c5-a2bb-98e4a922d02b  None       Laptop  Unknown
3   559ad5e0-286f-4cdd-a821-06409e9f7fd5  None        Phone  Unknown
4   0a910a13-a392-4680-bea2-77dda196488d  None       Tablet  Unknown
5   7cfe536c-291e-4db0-acb6-cec85e6a14e1  None     Keyboard  Unknown
6   4ed0d5a1-90b9-4f71-9fab-bb67e6d2a46e  None     Keyboard  Unknown
7   b4c1be69-fd35-4632-afff-7b4d977ab072  None       Laptop  Unknown
8   eb4e6a13-7ec7-48fb-b215-fbd805b312f6  None      Monitor  Unknown
9   0cabca16-1625-4617-b4d5-88c09a589e36  None       Tablet  Unknown
10  11ceaf2b-9a3e-4ade-b36c-892bb5c087eb  None       Laptop  Unknown
11  cb9d4e14-a47c-4187-a500-8025a6b8ac98  None        Phone  Unknown
12  ebb659d8-04aa-4634-a715-83ef4aee8368  None        Phone  Unknown
13  eaeef92b-3cea-429b-8388-d6eaf659bdd7  None       Tablet  Unknown
14  679fbb07-c576-4a61-817d-e810e1ea8845  None       Laptop  Unknown
15  d5b18d95-834f-4b2e-97bc-8cf0d4b9183f  None        Phone  Unknown
16  b930a1c0-51e7-4f14-abf1-2d02881346c8  None      Monitor  Unknown
17  f62d1e1a-40b6-4c71-b0ed-f1e6581b642e  None       Laptop  Unknown
18  cf5416aa-bd89-4c5d-b58b-833373b87aa0  None        Phone  Unknown

    sales_amount
0          100.0
1          300.0
2         1200.0
3          800.0
4          600.0
5          100.0
6          100.0
7         1200.0
8          300.0
9          600.0
10        1200.0
11         800.0
12         800.0
13         600.0
14        1200.0
15         800.0
16         300.0
17        1200.0
18         800.0

In [108]:
# Aggregation Functions
def aggregate_sales_by_region(df):
    return df.groupby('region')['sales_amount'].sum().reset_index()

def aggregate_sales_by_product(df):
    return df.groupby('product_name')['sales_amount'].sum().reset_index()
if not data:
    print("The Silver Sales table is empty. Cannot create Gold tables.")
else:
    # Aggregations
    sales_by_region = aggregate_sales_by_region(df)
    sales_by_product = aggregate_sales_by_product(df)
    sales_trends = aggregate_sales_trends(df)

    session.execute("""
    CREATE TABLE IF NOT EXISTS gold_sales_by_region (
        region TEXT PRIMARY KEY,
        total_sales DOUBLE
    );
    """)
    session.execute("""
    CREATE TABLE IF NOT EXISTS gold_sales_by_product (
        product_name TEXT PRIMARY KEY,
        total_sales DOUBLE
    );
    """)
    session.execute("""
    CREATE TABLE IF NOT EXISTS gold_sales_trends (
        date DATE PRIMARY KEY,
        total_sales DOUBLE
    );
    """)

    # Insert Data into Gold tables
    for _, row in sales_by_region.iterrows():
        session.execute("""
        INSERT INTO gold_sales_by_region (region, total_sales)
        VALUES (%s, %s)
        """, (row['region'], row['sales_amount']))

    for _, row in sales_by_product.iterrows():
        session.execute("""
        INSERT INTO gold_sales_by_product (product_name, total_sales)
        VALUES (%s, %s)
        """, (row['product_name'], row['sales_amount']))

    for a,row in sales_trends.iterrows():
        session.execute("""
        INSERT INTO gold_sales_trends (date, total_sales)
        VALUES (%s, %s)
        """, (row['date'], row['sales_amount']))

    print("Gold tables created and populated successfully!")

Gold tables created and populated successfully!

In [112]:
# Query and Print Gold Sales by Region
print("Gold Sales by Region:")
rows = session.execute("SELECT * FROM gold_sales_by_region;")
sales_by_region = [dict(row._asdict()) for row in rows]
if sales_by_region:
    df_region = pd.DataFrame(sales_by_region)
    print(df_region)
else:
    print("No data available in gold_sales_by_region.")

# Query and Print Gold Sales by Product
print("\nGold Sales by Product:")
rows = session.execute("SELECT * FROM gold_sales_by_product;")
sales_by_product = [dict(row._asdict()) for row in rows]
if sales_by_product:
    df_product = pd.DataFrame(sales_by_product)
    print(df_product)
else:
    print("No data available in gold_sales_by_product.")

Gold Sales by Region:
    region  total_sales
0  Unknown      13000.0

Gold Sales by Product:
  product_name  total_sales
0        Phone       4000.0
1       Laptop       6000.0
2      Monitor        900.0
3     Keyboard        300.0
4       Tablet       1800.0